// COLORS:
$White: hsl(0, 0%, 100%);

$Stone-100: hsl(30, 54%, 90%);
$Stone-150: hsl(30, 18%, 87%);
$Stone-600: hsl(30, 10%, 34%);
$Stone-900: hsl(24, 5%, 18%);

$Brown-800: hsl(14, 45%, 36%);

$Rose-800: hsl(332, 51%, 32%);
$Rose-50: hsl(330, 100%, 98%);

// FONTS:
// outfit: (https://fonts.google.com/specimen/Outfit)
// young serif: (https://fonts.google.com/specimen/Young+Serif)
$Family-YS: "Young Serif", serif;
$Family-O: "Outfit", sans-serif;

$Weight-400: 400;
$Weight-600: 600;
$Weight-700: 700;

$Font-size-p: 16px;

// SCREEN:
$Mobile: 375px;
$Desktop: 1440px;

html,
body {
    font-family: $Family-O;
    font-weight: $Weight-400;
    background-color: $White;
    color: $Stone-900;
    margin: 0;
    padding: 0;
}

main {
    text-align: left;
    color: $Stone-900;
}

article {
    padding: 10%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: $Family-YS;
}

h1{
    font-size: 2.2em;
}

h2 {
    color: $Brown-800;
}

h3 {
    color: $Rose-800;
}

p {
    font-size: $Font-size-p;
    color: $Stone-600;
}

hr{
    margin: 35px 0;
}

table {
    border-spacing: 0; 
    border-collapse: collapse;
}

tr th, td{
    padding: 10px 0;
    border-bottom: solid 1px $Stone-150;
}

tr td{
    color: $Brown-800;
    font-weight: 600;
}

// CLASSES
.bg-rose-50 {
    background-color: $Rose-50;
    border-radius: 15px;
}

.list-brown{
    color: $Brown-800;
}

.list-rose{
    color: $Rose-800;
}

.number-list{
    list-style: decimal;
}

.list-none{
    list-style: none;
}

.default-padding {
    padding: 5% 10%;
}

.default-gap {
    gap: 5px;
}

.bold {
    color: $Stone-600;
    font-weight: $Weight-700;
}


@media (min-width:$Desktop) {

    html,
    body {
        font-family: $Family-O;
        font-weight: $Weight-400;
        font-size: $Font-size-p;
        background-color: $Stone-100;
    }

    main {
        margin: 5% 25%;
        border-radius: 15px;
        padding: 5%;
        text-align: left;
        color: $Stone-900;
        background-color: $White;
    }

    article {
        padding: 0;
    }
}